---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>2024  &copy; Tommie | Made By Tommie</a>
        <ModeLabel client:load/><a href="https://astro.build/"></a></div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
